@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.search {
  @include container;
  padding-top: $space10;
  padding-bottom: $space10;

  @include tablet {
    padding-top: $space4;
    padding-bottom: $space6;
    overflow-x: hidden;
  }
}

.content {
  min-height: 400px;
  margin-top: $space6;
  min-width: 0;
}
